name: Test with local gateway

on: [push, pull_request]

jobs:
  test:
    name: Python ${{ matrix.python-version }} / Kubo ${{ matrix.kubo-version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        kubo-version: ["0.39.0"]
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    - name: Install IPFS
      uses: ipfs/download-ipfs-distribution-action@v1
      with:
        name: kubo
        version: v${{ matrix.kubo-version }}
    - name: Start IPFS daemon
      uses: ipfs/start-ipfs-daemon-action@v1
    - name: Import test data
      run: ipfs dag import test/testdata.car
    - name: Test with pytest
      run: |
        pip install pytest pytest-asyncio
        pytest
